.clickable {
  cursor: pointer;
}

.sectionHeading {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.25em;
}

.sectionHeading h2 {
  margin-bottom: 0;
}

.recommendationCard {
  max-width: 300px;
  margin-top: 24px;
  margin-bottom: 16px;
}
