.largeTile {
  padding: 10px;
  cursor: pointer;
}

.largeTileImageContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}

.largeTileImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.largeTileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8px;
}
