.row {
  width: 100%;
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  overflow: hidden;
}

.rowClickable {
  cursor: pointer;
}

.rowBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-size: cover;
  background-position: center;
}

.rowContent {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.rowImage {
  height: 70px;
}

.rowText {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.rowTextPrimary {
  display: flex;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowStats {
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  align-items: start;
  padding-right: 8px;
  position: relative;
}

.spotifyLinkContainer {
  margin-top: 5px;
}

.spotifyLinkMobile {
  position: absolute;
  left: 7px;
  bottom: 3px;
}
