.centered {
  display: flex;
  justify-content: center;
}

.marginBottom {
  margin-bottom: 16px;
}

.artistImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 16px;
}

.producerOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sourceContent {
  flex: 1;
  min-width: 0;
}

.sourceProfile {
  white-space: pre-line;
}
