.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemHeader {
  margin-left: 0;
}

.chartContainer {
  margin-left: -25px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  align-self: flex-end;
}
