.chartContainer {
  display: flex;
  flex-direction: column;
}

.tooltipContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
}

.tooltipTitle {
  margin: 0;
  align-self: center;
}

.tooltipItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tooltipValue {
  width: 30px;
  text-align: right;
}

.tooltipImage {
  height: 1.5em;
  width: 1.5em;
}

.chartTooltipContainer {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.chartTooltipItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}

.chartTooltipItem:last-child {
  margin-bottom: 0;
}

.chartTooltipImage {
  height: 1.5em;
  width: 1.5em;
}

.legendContainer {
  margin: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.legendItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.legendImage {
  height: 1.5em;
  width: 1.5em;
}

.legendLabel {
  width: 20vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}